p,
a,
h1,
h2,
h3,
h4 {
  margin: 0 0;
}

ul {
  margin: 0 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* удалення крапочок напроти пунктів списку */
ul {
  list-style: none;
}

iframe {
  width: 1000px;
  height: 700px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.item {
  height: 250px;
  width: auto;
  width: calc((100% - 180px) / 4);
  padding-bottom: 20px;
}

.picture {
  cursor: pointer;
  height: 100%;
}

.test {
  margin: 0;
  padding: 0;
}
